html {
    background-color: rgb(25, 80, 68);
}

.calculadora {
    background-color: rgb(197, 197, 197);
    height: 400px;
    width: 260px;
    margin-right: auto;
    margin-left: auto;
    padding: 35px;
    margin-top: 20px;
    border-radius: 40px;
}

.screen    {
    background-color: rgb(168, 224, 185);
    height: 60px;
    width: 260x;
    margin-left: auto;
    margin-right: auto;
    
}


.botoes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.botoes button {
    height:50px;
    width:50px;
    background-color: rgb(116, 116, 116);
    color: white;
    display:flex;
    margin-left: 10px;
    border-radius: 50%;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-color: white;
}

button:hover {
    background-color:  rgb(255, 255, 255, 0.2);
}


.buttons_clear {
    width: 200px;
    height: 50px;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 40px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-color: rgb(255, 255, 255);
}
.buttons_clear:hover {
    background-color:  rgba(229, 233, 7, 0.712);
}

p {
    font-size: 35px;
    color: white;
    align-items: center;
    justify-content: center;
}


